body {
    background-color: #fff;
    padding:10px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#0e0c0c;
    font-weight:200;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color:#222;
    margin:0 0 20px;
  }
  
  p, ul, ol, table, pre, dl {
    margin:0 0 20px;
  }
  
  h1, h2, h3 {
    line-height:1.1;
  }
  
  h1 {
    font-size:28px;
  }
  
  h2 {
    color:#393939;
  }
  
  h3, h4, h5, h6 {
    color:#494949;
  }
  
  a {
    color:#267CB9;
    text-decoration:none;
  }
  
  a:hover, a:focus {
    color:#069;
    font-weight: bold;
  }
  
  a small {
    font-size:11px;
    color:#777;
    margin-top:-0.3em;
    display:block;
  }
  
  a:hover small {
    color:#777;
  }
 
  .wrapper {
    width:90%;
    margin:10px 0px 0px 10px;
  }
  header.TOC{
    width:20%;
    float:left;
    position:fixed;
    padding: 10px;
    -webkit-font-smoothing:subpixel-antialiased;
  }  
  header.TOC ul li{
    list-style-type:none
  }

section {
    width: 60%;
    height:auto;
    float:right;
    padding-bottom:100px;
  }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }


table td.hashtag{
  color:rgb(0, 119, 255);
  font-size: 10px;
  text-align: left;
}
table td.time{
  font-size: 12px;
  text-align: left;
}
.info {
  background-color: white;
  border-left: 6px solid blue;
  padding:5px;

  color:gray;

}
.info p{
margin:20px;
font-weight:bold;
font-size: 18px;
font-family: arial;
display: table-cell;
vertical-align:middle;
}
.info svg{
 display: table-cell;
 vertical-align:middle;
    
}
.overview{
    background-color: rgb(233, 224, 224);
  border: 6px solid rgb(0, 204, 255);
  padding:20px;
  font-size: 18px;
  border-radius: 15%;
  color:rgb(61, 61, 175);
}


/**/
div.parent{ 
  display:table;
  width:100%;
  
}
div.parent .text{ 
  
  vertical-align:middle;
  display:table-cell;
  text-align: center;
  
}
div.parent .img{
  vertical-align:middle;
  display:table-cell;
  
  
}
.figcaption{
font-style: italic;
font-size: 15px;
}

li.number_list{
  list-style-type: decimal-leading-zero;
}