body {
    background-color: #fff;
    padding:10px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#0e0c0c;
    font-weight:200;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color:#222;
    margin:0 0 20px;
  }
  
  p, ul, ol, table, pre, dl {
    margin:0 0 20px;
  }
  
  h1, h2, h3 {
    line-height:1.1;
  }
  
  h1 {
    font-size:28px;
  }
  
  h2 {
    color:#393939;
  }
  
  h3, h4, h5, h6 {
    color:#494949;
  }
  
  a {
    color:#267CB9;
    text-decoration:none;
  }
  
  a:hover, a:focus {
    color:#069;
    font-weight: bold;
  }
  
  a small {
    font-size:11px;
    color:#777;
    margin-top:-0.3em;
    display:block;
  }
  
  a:hover small {
    color:#777;
  }
 
  .wrapper {
    width:80%;
    margin:10px 0px 0px 10px;
  }
  header.TOC{
    width:20%;
    float:left;
    position:fixed;
    padding: 10px;
    -webkit-font-smoothing:subpixel-antialiased;
  }  
  header.TOC ul li{
    list-style-type:none
  }

section {
    width: 60%;
    height:auto;
    float:right;
    padding-bottom:50px;
  }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }