---
layout: default
---

<head>
  <!--<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript"
    src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>-->
    
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      }
    });
  </script>
      
  <script type="text/javascript"
          src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  
  </head>

<header>
  <div>
  <h1>{{ page.title }}</h1>
  {%- if page.description -%}
    <h2>{{ page.description }}</h2>
  {%- endif -%}
  </div>
</header>

<section>
<div>

  {% if page.toc %}
<script>
var _post_ = $get("#post")||$get("#content");
addTOC(_post_, _post_.firstChild.nextSibling.nextSibling);
</script>
{% endif %}
  {%- else -%}
    {{ content }}
  {%- endif -%}
</div>
</section>
